extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/about.css

block content
    div.container
        h1  About Us
        section#aboutsection
          h3 The worlds popular dance academy and this is the best platform to learn best dance quality with our exprtise teachers and also get chance to dance audition with our special partners that deals with the any of the dance show hosted by a company. there are millions of visitors in out academy to learn the dance with us.
        
        div.aboutcontent
          h3 What is ADA?
          p ADA is stand for Ashu dance academy. 
          p We teach different type of classes and we focus on our each student to be    better in their dance. 
          p We have very big dance hall in which their are almost 500- 700 students can dance at the same time. 
          p Students are really enjoying their dance with our large quantity of dance teacher grouping together to teaching like so friendly.
          p ADA was established in 1998, started with 10 peoples and now its name is so popular throughout the World and now we have 300 peoples in our academy.
          
          h3 Easy Learning
          p ADA is has focus on each student with easy learnig.
          p We takes more practices for easy learning.
          p Initially we start with simple dance step so that student will not affraid if complex move is done.