extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/services.css

block content
    div.container
        h1  Services 
        div.services
          h3 1. We teach different type of dance style
          p We have all type of dance style to teach.
          p The dance type we teaching to students as follows-
          p Ballet dance: Yet Ballet is so much more than that. Said to be the most difficult genre to master, ballet is a rigorous style of dance that is the foundation of most forms of dance training.
          p Tap dance: Tap shoes are that are specially designed with percussive metal plates on the toe and heel, called taps. 
          p Jazz dance : Jazz is the most popular style of dance among dancers. Jazz combines all dance styles in a high energetic dance that is without conventional boundaries.
          p Modern  dance : Modern was said to be first created as a rebellion against classical ballet
          p Lyrical dance : Though the basis of lyrical dance is ballet merged with jazz and modern. 
          p Hip Hop dance : Hip Hop is an edgy, raw and intense urban dance style also known as Street Dance. The origin of popping, locking and crumping, Hip Hop is mostly danced to rap, urban and not surprisingly, hip hop music
          p Contemporary dance : Contemporary dance embodies ballet, modern, jazz and lyrical. It uses a technique such as ballet as its fundamentals and creates many more movements that do not adhere to the strict rules of ballet and modern.
          p Highland Dancing : Highland dance was developed in the Gaelic Highlands of Scotland and should not be confused with Scottish Country Dancing.
          p Line Dancing : Line Dancing is a social dance that is made up of a sequence of repeated steps and is traditionally associated with country-western music.
          p Irish Dancing : Irish dancing originated from Ireland and can be divided into performance and social dances.
        
          h3 2. Good Dance Teachers and student Relationship.
          p We are so friendly communicating with the indivisual students so that he will get a confidence and identify the skills of that students.
          p There are so many dancers are give the audition on various platform in our academy.

          h3 3. Chance to get 30% discount
          p We have a scheme for the new students wants to join us we are giving the 30% of discount on register any 3 of the classes give in above dance type.


        
          